name: Publish

on:
  push:
    branches:
      - main

env:
  REACT_APP_POLLING_INTERVAL: 300000
  SAFE_CHAIN_MINIMUM_PACKAGE_AGE_HOURS: 360  # 15 days

jobs:
  doc:
    name: Build and publish assets
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: yarn

      - name: Setup safe-chain
        shell: bash
        run: |
          npm i -g @aikidosec/safe-chain
          safe-chain setup-ci

      - name: Install dependencies
        run: make deps

      - name: Build
        run: make build

      - name: Generate assets
        run: make static-assets

      # https://github.com/marketplace/actions/github-pages
      - name: Deploy to GitHub Pages
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: gh-pages
          build_dir: static-assets
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
